<div class="col-md-8 mb-2">  
<button class="btn btn-primary" type="submit" style="background-color: #007bff; color: white;"
                    [routerLink]="['/masterentry/adddoctor']">Create New Doctor</button>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 style="color: #45cbe4;">Doctor List</h2>
        </div>




        <div class="card-body">

            <form>

                
                    <br><br>
                    <br><br>

                <p> list of Doctors will appear here</p>